
.skull {
    background-image: url(../img/skull.jpg);
}

.scissors {
    background-image: url(../img/scissors.jpg);
}

.parchment {
    background-image: url(../img/parchment.jpg);
}

.jar {
    background-image: url(../img/jar.jpg);
}

.herb {
    background-image: url(../img/herb.jpg);
}

.gyoza {
    background-image: url(../img/gyoza.jpg);
}

.gem {
    background-image: url(../img/gem.jpg);
}

.cat {
    background-image: url(../img/cat.jpg);
}
